* { 
  text-decoration: none; 
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Helvetica Neue', arial, sans-serif;
  color: #555;
} 

.header {
  background-color: #0275d8;
  height: 50px;
}

.header p {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  padding-top: 15px;
}

.header:hover {
  background-color: #0047EC;
}

.nav {
  background-color: white;
  font-size: 15px;
  padding-top: 15px;
  line-height: 25px;
  font-weight: 500;
  height: 200px;
}

.nav ul a {
  color: #5C4477;
}

.bootstrap1 a {
  color: #5C4477;
  font-size: 18px;
  font-weight: 600;
  padding-right: 20px;
  margin-left: -50px;
}

.pull-right {
  display: inline-block;
  float: right;
  margin-right: 150px;
  margin-bottom: 15px;
}

.pull-left {
  float: left;
  margin-left: 150px;
}

.nav li {
  color: #5C4477;
  display: inline;
  padding-right: 20px;
}

.nav {
  color: #F9F9F9;
}

.main {
  clear:both;
  text-align: center;
  color: white;
  height: 580px;
  background-color: #5C4477;
}

.B {
  border-color: white;
  border-radius: 22px;
  border-style: solid;
  border-width: thin;
  padding: 60px 30px 60px 30px;
  display: inline-block;
  margin-top: 80px;
}

.logo {
  color: white;
  font-size: 110px;
  font-weight: 500;
}

.main p {
  padding-top: 40px;
  font-size: 30px;
  width: 61%;
  margin: auto;
  font-weight: 200;
  color: white;
  line-height: 40px;
}

.button-1 button{
  margin-top: 35px;
  height:55px;
  width: 240px;
  margin-left: auto;
  background-color: #5C4477;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 350;
  line-height: 24px;
}

.button-1 button:hover {
  background-color: white;
  color: #5C4477;
}

#version {
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #9783b9;
}

.main-2 {
  background-color: white;
  text-align: center;
  border-bottom-style: solid;
  border-color: #EEE;
  border-width: thin;
}

#designed {
  font-size: 40px;
  margin-top: 140px;
  font-weight: 400;
}

#explanation {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 300;
  line-height: 30px;
}

.pictures img {
  width: 380px;
  height: auto;
  margin-top: 80px;
}

.features div {
  display:inline-block;
  margin-top: 50px;
  padding-right: 60px;
  padding-left: 60px;
}

#Preprocessors {
  font-weight: 400;
  font-size: 27px;
}

#oneframework {
  font-size: 27px;
  font-weight: 400;
}

#fullof {
  font-weight: 400;
  font-size: 27px;
}

.under-pics {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  padding-right: 30px;
  text-align: center;
}

#onepic {
 display: inline-block;
  width: 370px;
}

#less {
  color: blue;
}

#sass {
  color: blue;
  }


#twopic {
  width:370px;
  display: inline-block;
  padding-left: 30px;
}

#threepic {
  width: 390px;
  display: inline-block;
  padding-left: 40px;
}

#opensource {
  margin-top: 100px;
  font-size: 22px;
  font-weight: 300;
}

.open {
  text-align: center;
}

.button2 {
  margin-top: -15px;
}

.button2 button{
  background-color: #FFF;
  border-color: #664C8F;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  color: #664C8F;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  line-height: 24px;
  margin-bottom: 100px;
  width: 225px;
}

.button2 button:hover {
  background-color: #664C8F;
  color: #FFF;
}

.main-3 {
  text-align: center;
}

.samples {
  text-align: center;
}

.sample-pics {
  display: inline-block;
  margin-bottom: 50px;
  margin-top: 50px;
}

.sample-pics span {
  display: inline-block;
  width: 275px;
}

.sample-pics span img {
  width: 100%;
}

.samples-text  {
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
}

.samples-text p {
  padding-left: 50px;
  width:100%;
  font-weight: 200;
}

.thislink {
  color: #2551B6;
}

.built-with p {
  text-align: center;
  padding-top: 120px;
  font-size: 40px;
}

.expo-text p{
  font-size: 21px;
  text-align: center;
  font-weight: 300;
}

.expo-button {
  margin-top: 30px;
  text-align: center;
}

.expo-button button{
  background-color: #FFF;
  border-color: #664C8F;
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  color: #664C8F;
  font-family: 'Helvetica Neue';
  font-size: 18px;
  font-weight: 400;
  height: 45px;
  line-height: 24px;
  margin-bottom: 100px;
  width: 185px;
}

.expo-button button:hover {
  background-color: #664C8F;
  color: #FFF;
}

.footer {
  background-color: #2a2730;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bot-links {
  padding-left: 140px;
  word-spacing: 15px;
}

.bot-links li{
  display: inline;
  list-style: none;
  color: white;
  font-size: 15px;
}

.bot-links li:hover {
  text-decoration: underline;
}

#now {
  margin-top: 40px;
}

.credits {
  margin-left: 140px;
  padding-top: 20px;
  color: #999;
  font-size: 14px;
}

.license {
  margin-left: 140px;
  padding-top: 5px;
  color: #99979c;
  font-size: 14px;
}

.credits a,
.license a {
  color: white;
  text-decoration: none;
}

.credits a:hover,
.license a:hover {
  text-decoration: underline;
}