body {
  margin: 0;
  background: #555;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  background: none;
  background-image: url('../8.webp');
  background-position: center center;
  background-size: cover;
  color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ovarlay,
.infoText {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.ovarlay {
  background: rgba(0, 0, 0, .6);
  z-index: 5;
}

.infoText {
  font-size: 80px;
  text-align: center;
  top: 40%;
  background: none;
  letter-spacing: 30px;
  z-index: 6;
  padding: 10px;
}

.infoText span {
  font-size: 14px;
  letter-spacing: 30px;
  display: block;
}

@media screen and (max-width: 768px) {
  .infoText {
    font-size: 40px;
    letter-spacing: 5px;
  }
  .infoText span {
    letter-spacing: 20px;
  }
}

@media screen and (max-width: 400px) {
  .infoText {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .infoText span {
    font-size: 10px;
    letter-spacing: 10px;
  }
}
